{% extends 'base.html' %}
{% load static %}

{% block content %}

  {% include './components/upload.html' %}

    <div class="page-header row" style="margin-left:1rem">
      <h3 class="col-sm-1">Sources</h3>
      {% if status_source == 'OK' %}
        <span class="help-block alert alert-success col-sm-2" role="alert">
          <strong>Well done!</strong> {{ message_source }}
        </span>
      {% elif status_source == 'ERROR' %}
        <span class="help-block alert alert-danger col-sm-2" role="alert">
          <strong>Oh snap!</strong> {{ message_source }}
        </span>
      {% endif %}
    </div>
    {% include './components/list.html' %}

    <div class="page-header row" style="margin-left:1rem">
      <h3 class="col-sm-1">Topics</h3>
      {% if status_topics == 'OK' %}
        <span class="help-block alert alert-success col-sm-2" role="alert">
          <strong>Well done!</strong> {{ message_topics }}
        </span>
      {% elif status_topics == 'ERROR' %}
        <span class="help-block alert alert-danger col-sm-2" role="alert">
          <strong>Oh snap!</strong> {{ message_topics }}
        </span>
      {% endif %}
    </div>
    </div>
    {% include './components/table.html' %}

    <div class="page-header row" style="margin-left:1rem">
      <h3 class="col-sm-3">Sentiment analysis</h3>
      {% if status_sentiment == 'OK' %}
        <span class="help-block alert alert-success col-sm-2" role="alert">
          <strong>Well done!</strong> {{ message_sentiment }}
        </span>
      {% elif status_entity == 'ERROR' %}
        <span class="help-block alert alert-danger col-sm-2" role="alert">
          <strong>Oh snap!</strong> {{ message_sentiment }}
        </span>
      {% endif %}
    </div>
    {% include './components/panel.html' %}

    <div class="page-header row" style="margin-left:1rem margin-top:7rem">
      <h3 class="col-sm-1">Entities</h3>
      {% if status_ner == 'OK' %}
        <span class="help-block alert alert-success col-sm-2" role="alert">
          <strong>Well done!</strong> {{ message_ner }}
        </span>
      {% elif status_ner == 'ERROR' %}
        <span class="help-block alert alert-danger col-sm-2" role="alert">
          <strong>Oh snap!</strong> {{ message_ner }}
        </span>
      {% endif %}
    </div>
    {% include './components/plain.html' %}

{% endblock content %}
